extends layout

block content
	div Profile
	
	.container
		.row
			h3 Profile
			.col-lg-2
			.card.col-lg-8
				.card-header
					h3 #{user.displayName}
				.card-body
					div Email: #{user.email}
					div First name: #{user.firstName}
					div Last name: #{user.lastName}
					div avatar: #{user.avatar}
					br
					br
					div payload id: #{payload._id}